@import '../shared/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $color2;
  padding: 2em;
  min-width: 18em;
  flex: 1 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > * {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}
