.table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #ddd;
    padding: 0.5em;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tbody {
    tr:hover {
      background-color: #ddd;
    }
  }
  td:last-child {
    border: none;
    background-color: white;
    width: 6em;
  }
  th {
    padding: 1em 0;
    text-align: left;
    border: none;
  }
  th:not(:first-child),
  td:not(:first-child) {
    text-align: right;
  }
}
