@import '../shared/colors.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid $color2;
    padding: 0.8em;
  }
  tr:nth-child(even) {
    background-color: $color2;
  }
  tbody {
    tr:hover {
      background-color: $color1;
    }
  }
  td:last-child {
    border: none;
    background-color: white;
    width: 6em;
  }
  th {
    padding: 1em 0;
    text-align: left;
    border: none;
  }
  th:not(:first-child),
  td:not(:first-child) {
    text-align: right;
  }
}
